
    //adaptive------------------
  svg
    height: 100%
    width: 100%  
    
img
    height: 100%
    width: 100%  

body
    margin: 0

.df-botban
    padding: 30px

.block-one-br
    padding: 30px

.tittle-text-new-card
    padding: 10px


    // media------------------
    
@media screen and (max-width:790px ) 

    .df-header
        display: block
        position: sticky
        top: 0
        z-index: 100000
        -webkit-box-shadow: 0px 1px 0px 0px rgba(34, 60, 80, 0.2)
        -moz-box-shadow: 0px 1px 0px 0px rgba(34, 60, 80, 0.2)
        box-shadow: 0px 1px 0px 0px rgba(34, 60, 80, 0.2)

    .pos-svg-slaid
        display: none

    .header
        display: flex
        align-items: center
        justify-content: space-between
        // width: 100%


    .nav
        // width: 100%

    .hamburger
        // display: block
        display: inline-flex
        z-index: 102
        
    .nav
        display: flex
        justify-content: center
        position: fixed
        flex-direction: column
        top: 0
        right: 0
        width: 250px
        height: 100%
        background: rgba(19, 85, 192, 0.729)
        transition: 1s
        transform: translateX(100%)
        z-index: 101
        
        &.is-active 
            transform: translateX(0)
        
    .nav-link
        color: white
   
    
    
//nav zone ^

